{% extends "base.html" %}
{% block titulo %}Alteração de Produto{% endblock %}
{% block conteudo %}
<h1>Alteração de Produto</h1>
<hr>
<form method="post" class="row">
    <div class="col-12">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="nome" id="nome" placeholder=" " value="{{produto.nome}}"/>
            <label for="nome">Nome</label>
        </div>
    </div>
    <div class="col-12">
        <div class="form-floating mb-3">
            <textarea class="form-control h-120" placeholder=" " name="descricao" id="descricao">{{produto.descricao}}</textarea>
            <label for="descricao">Descrição</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="estoque" id="estoque" placeholder=" " value="{{produto.estoque}}"/>
            <label for="estoque">Estoque</label>
        </div>
    </div>
    <div class="col-6">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" name="preco" id="preco" placeholder=" " value="{{produto.preco}}" />
            <label for="preco">Preço</label>
        </div>
    </div>

    <div class="-6">
        <div class="mb-3"><label for="categoria">Categoria</label>
            <select name="categoria" id="categoria">
                <option value="fruta">fruta</option>
                <option value="verduras">Verduras</option>
                <option value="legumes">Legumes</option>
                <option value="tuberculos">Tubérculos e raízes</option>
                <option value="ervas">Ervas e temperos</option>
                <option value="grãos">Grãos e cereais</option>
            </select>
        </div>
    </div>
    <div class="col-6">
        <a href="/admin" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-primary">
            Salvar
        </button>
    </div>
</form>
{% endblock %}